    <!--bread-crumb-->
    <div class="iq-breadcrumb">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-12">
                    <nav aria-label="breadcrumb" class="text-center">
                        <ol class="breadcrumb justify-content-center text-white mt-0">
                            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                            <li class="breadcrumb-item active">Privacy Policy</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>    <!--bread-crumb-->


<div class="privacy-policy section-padding">
    <div class="container">
        <div class="title-box privacy-title-gap">
            <h4 class="mb-3 fw-500">1. What Personal Information About Users Does streamit Collect?</h4>
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis nisl dignissim, placerat
                diam ac, egestas ante. Morbi varius quis orci feugiat hendrerit. Morbi ullamcorper consequat justo, in
                posuere nisi efficitur sed. Vestibulum semper dolor id arcu finibus volutpat. Integer condimentum ex
                tellus, ac finibus metus sodales in. Proin blandit congue ipsum ac dapibus. Integer blandit eros elit,
                vel luctus tellus finibus in. Aliquam non urna ut leo vestibulum mattis ac nec dolor. Nulla libero
                mauris, dapibus non aliquet viverra, elementum eget lorem</p>
        </div>
        <div class="title-box privacy-title-gap">
            <h4 class="mb-3 fw-500">2. Cookies and Web Beacons</h4>
            <p class="mb-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis nisl dignissim, placerat diam ac,
                egestas ante.
                Morbi varius quis orci feugiat hendrerit. Morbi ullamcorper consequat justo, in posuere nisi efficitur
                sed.
                <br><br>

                Vestibulum semper dolor id arcu finibus volutpat. Integer condimentum ex tellus, ac finibus metus
                sodales in. Proin
                blandit congue ipsum ac dapibus. Integer blandit eros elit, vel luctus tellus finibus in. Aliquam non
                urna ut leo
                vestibulum mattis ac nec dolor. Nulla libero mauris, dapibus non aliquet viverra, elementum eget lorem
            </p>
        </div>
        <div class="title-box privacy-title-gap">
            <h4 class="mb-3 fw-500">3. Third Party Payment Gateway – Financial Information</h4>
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis nisl dignissim, placerat
                diam ac, egestas ante. Morbi varius quis orci feugiat hendrerit. Morbi ullamcorper consequat justo, in
                posuere nisi efficitur sed. Vestibulum semper dolor id arcu finibus volutpat. Integer condimentum ex
                tellus, ac finibus metus sodales in. Proin blandit congue ipsum ac dapibus. Integer blandit eros elit,
                vel luctus tellus finibus in. Aliquam non urna ut leo vestibulum mattis ac nec dolor. Nulla libero
                mauris, dapibus non aliquet viverra, elementum eget lorem</p>
        </div>
        <div class="title-box privacy-title-gap">
            <h4 class="mb-3 fw-500">4. Disclosure Children’s Privacy</h4>
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis nisl dignissim, placerat
                diam ac, egestas ante. Morbi varius quis orci feugiat hendrerit. Morbi ullamcorper consequat justo, in
                posuere nisi efficitur sed. Vestibulum semper dolor id arcu finibus volutpat. Integer condimentum ex
                tellus, ac finibus metus sodales in. Proin blandit congue ipsum ac dapibus. Integer blandit eros elit,
                vel luctus tellus finibus in. Aliquam non urna ut leo vestibulum mattis ac nec dolor. Nulla libero
                mauris, dapibus non aliquet viverra, elementum eget lorem</p>
        </div>
        <div class="title-box privacy-title-gap">
            <h4 class="mb-3 fw-500">5. Data transfer, storage & processing globally</h4>
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis nisl dignissim, placerat
                diam ac, egestas ante. Morbi varius quis orci feugiat hendrerit. Morbi ullamcorper consequat justo, in
                posuere nisi efficitur sed. Vestibulum semper dolor id arcu finibus volutpat. Integer condimentum ex
                tellus, ac finibus metus sodales in. Proin blandit congue ipsum ac dapibus. Integer blandit eros elit,
                vel luctus tellus finibus in. Aliquam non urna ut leo vestibulum mattis ac nec dolor. Nulla libero
                mauris, dapibus non aliquet viverra, elementum eget lorem</p>
        </div>
    </div>
</div>